Checks: "-*,\
    bugprone-*,\
    -bugprone-exception-escape,\  # an exception may be thrown in function 'main' which should not throw exceptions
    cmake-*,\
    cppcoreguidelines-*,\
    -cppcoreguidelines-avoid-magic-numbers,\
    -cppcoreguidelines-non-private-member-variables-in-classes,\
    google-*,\
    misc-*,\
    -misc-non-private-member-variables-in-classes,\
    modernize-*,\
    -modernize-use-trailing-return-type,\
    performance-*,\
    portability-*,\
    readability-*,\
    -readability-identifier-length,\
    -readability-magic-numbers,\
    "

HeaderFilterRegex: '.*'
